# Auto detect text files and perform LF normalization
* text=auto

# restrict CRLF on .anm/.obj/.tra/.cam
*.lua text eol=crlf linguist-language=Lua
*.obj text eol=crlf linguist-language=Lua
*.anm text eol=crlf linguist-language=Lua
*.scn text eol=crlf linguist-language=Lua
*.cam text eol=crlf linguist-language=Lua
*.tra text eol=crlf linguist-language=Lua